certifi==2023.7.22
charset-normalizer==3.2.0
click==7.1.2
defusedxml==0.7.1
et-xmlfile==1.1.0
Flask==1.1.2
gunicorn==20.0.4
idna==3.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.24.4
odfpy==1.4.1
openpyxl==3.1.2
pandas==2.1.0
psycopg2-binary==2.9.7
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pyxlsb==1.0.10
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.20
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.4
Werkzeug==1.0.1
xlrd==2.0.1
XlsxWriter==3.1.4
